:root {
  --center-align: center;
  --navbar-font: Arial, Helvetica, sans-serif;
  --navbar-font-color: white;
  --background-color: silver;;
  --background-font-color: white;
  --container-font-color: navy;
  --border-color: black;
  --project-borders: 5px solid black;
  --divider-colour: linear-gradient(to right, #1F2839, #f5f5ef);
}

* {
  box-sizing: border-box;
}

header {
  color: var(--navbar-font-color)
}

body {
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--background-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* --- Navigation Bar --- */

#navbar {
  font-size: 2rem;
  background-image: linear-gradient(to right, #1F2839, #f5f5ef);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 3px solid var(--border-color);
  border-radius: 20px;
}

.aboutme-link, .projects-link, .contactme-link {
padding-left: 10px;
}

.name {
  font-size: 3rem;
  color: var(--background-font-color);
  text-align: left;
  display: inline-block;
}

.navbar-links {
  font-family: var(--navbar-font);
  color: white;
  display: inline-block;
  padding-left: 50%;
}

/* --- Hero Banner --- */

.hero-banner {
  height: 200px;
  width: 100%;
  background-image: url(../images/02-hero-bg.jpg); /* placeholder */
  padding-top: 10px;
  background-size: cover;
}

/* --- About Me --- */

#about-me {
  grid-area: about-me;
  border-left: 1px solid black;
}

#about-me p {

  color: black;
  margin: 2rem;
}

#about-me h2 {
  margin: 2rem;
}

#my-picture {

  grid-area: my-picture;
  width: 100%;
  max-height: 100%;
}

/* --- Grid --- */

.projects-container {

  display: grid;
  color: var(--container-font-color);
  margin-top: 1rem;
  margin-left: 20%;
  height: 100vw;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: row;
  grid-template-areas:
    "about-me my-picture"
    "projects projects"
    "project1 project1"
    "project2 project3";
}

/* --- Content Divider ---*/
#projects {
  grid-area: projects;
  place-self: center stretch;
  text-align: center;
  border: 3px solid black;
  border-radius: 20px;
  background: var(--divider-colour);
  color: white;
}

/* --- Grid Items ---*/
#project1 {
  grid-area: project1;
  border: var(--project-borders);
}

.horiseon-project {
  height: 100%;
  max-width: 100%;
}

#project2 {
  grid-area: project2;
  border: var(--project-borders);
}

.pre-work-project {
  height: 100%;
  max-width: 100%;
}

#project3 {
  grid-area: project3;
}

.work-in-progress {
  height: 100%;
  max-width: 100%;
  border: 3px solid white;
}

figcaption {
  font-weight: bold;
}

/* --- Contact Me --- */

#contact-me {
  margin-left: 20%;
  text-align: center;
  color: black;
}

.social-icons {
  font-size: 3rem;
}

footer {
  text-align: center;
  margin-left: 20%;

}


/*--- Media Queries --- */

/* Couldn't get all the elements to work properly on smaller screens. Think
it was something to do how I initially structured my site. Will look into this*/

@media only screen and (max-width: 600px) {
  
  #navbar {
    font-size: 2rem;
    background-image: linear-gradient(to right, #1F2839, #f5f5ef);
    padding: 1rem;
    margin-bottom: 1rem;
    width: auto;
    border: 3px solid var(--border-color);
    border-radius: 20px;
  }

  .navbar-links {
    font-family: var(--navbar-font);
    color: white;
    display: inline;
  }

  .hero-banner {
    height: 200px;
    width: auto;
    background-image: url(../images/02-hero-bg.jpg); /* placeholder */
    padding-top: 10px;
    background-size: cover;
  }

  #my-picture { 

    grid-area: my-picture;
    width: 100%;
    height: auto;
  }


  .projects-container { /* Took away 20% margin */

    display: grid;
    color: var(--container-font-color);
    margin-top: 1rem;
    height: 100vw;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: row;
    grid-template-areas:
      "about-me"
      "my-picture"
      "projects"
      "project1"
      "project2"
      "project3";
  }

  #contact-me {
    text-align: center;
  }

  footer {
    text-align: center;

  }
}