:root {
  --center-align: center;
  --navbar-font: Arial, Helvetica, sans-serif;
  --background-color: #f5f5ef;
  --background-font-color: #f5f5ef;
  --container-font-color: #1F2839;
}

* {
  box-sizing: border-box;
}

body {
  margin-top: 5%;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--background-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* --- Navigation Bar --- */

#navbar {
  font-size: 1rem;
  background-image: linear-gradient(to right, #1F2839, #f5f5ef);
  padding: 1rem;
  margin-bottom: 1rem;
  position: fixed;
  top: 1rem;
  width: 100%;
  border: 2px solid black;
}

.name {
  font-size: 3rem;
  color: var(--background-font-color);
  text-align: left;
  display: inline-block;
}

.navbar-links {
  font-family: var(--navbar-font);
  color: white;
  display: inline-block;
  padding-left: 50%;
}

.navbar-links a {
  padding-left: 1rem;
  padding-right: 1rem;  
  font-size: 2rem;
}

/* --- Hero Banner --- */

.hero-banner {
  height: 200px;
  width: 100%;
  background-image: url(../images/02-hero-bg.jpg); /* placeholder */
}

/* --- About Me --- */

/* --- Work Projects --- */
.projects-container {

  display: grid;
  color: var(--container-font-color);
  margin-top: 1rem;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: row;
  gap: 1rem;
  grid-template-areas:
    "about-me my-picture"
    "about-me my-picture"
    "project1 project2"
    "project3 project4";
}

#about-me {
  border: 2px solid black;
  grid-area: about-me;
}

#my-picture {
  border: 2px solid black;
  grid-area: my-picture;
  width: 100%;
}

#project1 {
  border: 2px solid black;
  grid-area: project1;
  background-image: url(../images/02-portfolio-1.jpg);
}

#project2 {
  border: 2px solid black;
  grid-area: project2;
  background-image: url(../images/Horiseon\ Banner.PNG);
}

#project3 {
  border: 2px solid black;
  grid-area: project3;
  background-image: url(../images/02-portfolio-3.jpg);
}

#project4 {
  border: 2px solid black;
  grid-area: project4;
  background-image: url(../images/02-portfolio-4.jpg);
}

.contact-me {
  height: 50vh;
  text-align: center;
}

.social-icons {
  align-items: center;
  font-size: 1rem;
}
